<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserimento Nuovo Utente</title>
    <!-- Link a Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <style>
    
    .main{
        margin-top: 100px !important;
    }
    .bold{
        font-weight: bold !important;
    }
  </style> 
</head>
<body>
    <%- include('toolbar', { livelloUser: livelloUser }) %>
    <div class="container mt-5 main">
        <h2 class="mt-5 mb-4 bold">Inserimento Nuovo Utente</h2>
        <form action="/submit" method="POST">
            <div class="form-group row">
                <label for="nome" class="col-sm-2 col-form-label bold">Nome:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="cognome" class="col-sm-2 col-form-label bold">Cognome:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="cognome" name="cognome" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="codiceFiscale" class="col-sm-2 col-form-label bold">Codice Fiscale:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="codiceFiscale" name="codiceFiscale" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="amministrazione" class="col-sm-2 col-form-label bold">Amministrazione:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="amministrazione" name="amministrazione" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="qualifica" class="col-sm-2 col-form-label bold" >Qualifica:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="qualifica" name="qualifica" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="ufficio" class="col-sm-2 col-form-label bold">Ufficio:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="ufficio" name="ufficio" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="livelloUser" class="col-sm-2 col-form-label bold">Livello Utente:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="livelloUser" name="livelloUser" min="0" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-danger bold">Inserisci Utente</button>
                </div>
            </div>
        </form>
    </div>
    <%- include('footer') %>
    <!-- Link a Bootstrap JS (richiesto per il funzionamento di Bootstrap) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
